#content-pane {
  padding: 20pt;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  color: white;
  background-color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  word-wrap: break-word;

  overflow:inherit;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.4), 0 3px 0 0 rgba(0,0,0,0.2);
  padding-left: 20pt;
  width:100%;
  position: fixed;
  top: 0px;
  left: 0px;

}

#Logo {
  height: .9em;
  border-radius: 10%;
  border-right: 20px;
}
